@import '../../layout/variables.scss';

.radio {
  display: flex;
  font-family: 'Roboto';
  margin: 32px 0;
}

.radio__box {
  width: 12px;
  height: 12px;
  border: 1px solid $mid-gray;
  border-radius: 50%;
  background: $white;
  position: relative;

  .radio__box--checked {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: $blue;
    position: absolute;
    top: 1px;
    left: 1px;
  }
}

.radio__wrapper {
  margin-left: 12px;
  width: 100%;

  p {
    color: $darkest-gray;
    font-weight: 400;
    font-size: 16px;
  }
}
