@import '../../layout/variables.scss';

.unregister {
  display: flex;
  justify-content: space-between;

  .unregister__disclaimer {
    width: calc(50% - 25px);

    @media (max-width: 800px) {
      width: 100%;
    }
  }

  .unregister__inputs {
    width: calc(50% - 25px);

    @media (max-width: 800px) {
      width: 100%;
    }
  }

  .unregister__title {
    font-family: 'Roboto';
    font-weight: 700;
    color: $dark-gray;
    font-size: 30px;
    margin-bottom: 36px;
    margin-top: 52px;
  }

  .unregister__subtitle {
    font-family: 'Roboto';
    font-weight: 500;
    color: $darkest-gray;
    font-size: 19px;
    margin-bottom: 36px;
    margin-top: 24px;
  }

  .unregister__text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .unregister__radio-text {
    font-family: 'Roboto';
    font-weight: 100;
    color: $darkest-gray;
    font-size: 14px;
  }

  @media (max-width: 800px) {
    flex-direction: column;
    align-items: center;
  }
}

.unregister__text {
  font-family: 'Roboto';
  color: $darkest-gray;
  font-size: 14px;
  line-height: 22px;
  margin: 16px 0;

  b {
    font-weight: 700;
    color: $dark-gray;
  }

  i {
    font-weight: 500;
    color: $blue;
    text-decoration: underline;
    font-style: normal;
  }
}
